@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<form method='post' action='/hello'>
    
    <input type='text' name='name' />
    <input type='submit' value='Greet Me!' />
   
</form>
